header.app-header.app-common
  .header-wrap
    .top-logo
      img(src="./img/logo-top.png", alt="메인화면 로고", onclick="locaktion.href='index.html'")
    .logo-link 
      ul 
        li
          img(src="./img/githubLogo_w.svg", alt="github-logo", onclick="window.open('https://github.com/sohyeony')")
        li
          img(src="./img/notionLogo_w.svg" alt="notion-logo", onclick="window.open('https://github.com/sohyeony')")