head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name="X-UA-Compatible", content="ie=edge")
  meta(name="format-detection", content="telephone=no")
  link(rel="stylesheet", href="css/style.css")
  script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js")
  //- script(src="https://code.jquery.com/jquery-1.12.4.min.js")
  title sohye0n.com