body {
  overflow: hidden;
  min-height: 100vh;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  // color: $white !important;
  background: $black;
  @media #{$Small-Tablet} {
      // overflow: scroll;
  }

  

  &::-webkit-scrollbar {
    width: 0px;
    /* 스크롤바의 너비 */
  }

  // &::-webkit-scrollbar-thumb {
  //   height: 20%; /* 스크롤바의 길이 */
  //   background: rgba(#000000,.4); /* 스크롤바의 색상 */
  //   border-radius: 10px;
  // }

  // &::-webkit-scrollbar-track {
  //     background: #ffffff; /*스크롤바 뒷 배경 색상*/
  // }
  
.bg-noise {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.4;
  }
}



// web
@media all and (orientation:landscape) {
  .app-common {
    margin: 0px auto;
    &.app-header {
      width: 100%;
      .header-wrap {
        position: fixed;
        z-index: 100;
        left: 50%;
        width: 90%;
        height: 5.208vw;
        transform: translateX(-50%);
        .top-logo {
          position: absolute;
          top: 50%;
          cursor: pointer;
          transform: translateY(-50%);
          img {
            width: 7.187vw;
            }
          }
        .logo-link {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          ul {
            display: flex;
            width: 100%;
            li {
              margin-right: 0.5vw;
              cursor: pointer;
              &:last-child {
                margin: 0 !important;
                }
              img{
                width: 2.5vw;
              }
            }
          }
        }
      }
    }
    
    &.app-body {
      section {
        position: relative;
        height: 100vh;
        // padding: 5.208vw 5.208vw 3.125vw 5.208vw;
        @media all and (orientation:landscape) {
          .content {
            height: 100%;
            &.design {
              font-family:Montserrat;
              display: grid;
              overflow: hidden;
              color: $white;

              grid-template-columns: 4fr 3fr;
              gap: 0px;
              .title {
                color: $white !important;
                h1 {
                  font-family:Orbitron;
                  text-transform: uppercase;
                }
              }
            }
            &-box {
              padding: 5.208vw 48px;
              &:first-child {
                position: relative;
                .title {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
              ul {
                &.career-list {
                  margin-bottom: 36px;
                  &:last-child {
                    margin-bottom: 0;
                  }
                  li {
                    margin-bottom: 6px;

                    @include fontSize (16px, 400);
                    &:last-child {
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }
          }       
        }     
      }
    }
  }
}



// 수정필요
@import url('https://fonts.googleapis.com/css?family=Montserrat|Orbitron');


.scroll-btn {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: $white;
  border: 1px solid rgba($white,.8);
  
}


.mainSwiper {
  width: 100%;
  height: 100%;
  background: $yellow;
  .swiper-slide {
    position: relative;

    $slide-type: ('type01', 'type02', 'type03', 'type04', 'type05', 'type06', 'type07', 'type08');
    $slide-colors: (
      'type01' : (#fed500, #5815a5,),
      'type02' : (#EC595C, #1DA141,),
      'type03' : (#F3464A, #8CF252,),
      'type04' : (#4051A8, #F5ED45,),
      'type05' : (#3ABF71, #514DBF,),
      'type06' : (#151E4A, #8D78B0,),
      'type07' : (#FF9B2A, #0B29B3,),
      'type08' : (#366DF2, #F2DF29,),
    );
      @each $type, $d in $slide-colors {
      &.c-#{$type} {
        @each $col in $d {
          $i: index($d, $col);
          @if $i == 1 {
            background-color: #{$col};
          } @else {
             h2 {
              color: $white;

              -webkit-text-stroke: 2px #{$col};
            }
          }
        }
      }
    }
    .swiper-content{
      position: relative;
      height: 100%;
      // padding: 40px;
    }
    p {
      @include fontSize(32px, 700);
    }
    h2{
      font-size: 60px;
      // font-size: rem-calc(60);
    }
    .text-box {
      position: absolute;
      z-index: 1;
      bottom: 180px;
      left: 60px;
      h3{
        font-size: 48px;
        margin-bottom: 15px;
        color: $white;
      }
      h2 {
        // margin-bottom: 40px;
      }
      a.link {
        margin-top: 12px;
      }
    }
    .img-box {
      position: absolute;
      top: 120px;
      right: 60px;
      overflow: hidden;
      box-sizing: border-box;
      width: 62.5vw;
      height: 35.417vw;
      cursor: pointer;
      border-radius: 10px;
      background: $black;
      img{
        width: 100%;
        height: 100%;
        transition: 0.8s;
        &:hover {
          opacity: 0.6;

          scale: 1.1;
        }
      }
    }
  
    .tag-box {
      margin-top: 32px;
      span {
        position: relative;
        display: inline-block;
        margin-right: 5px;
        padding: 5px 5px 5px 16px;
        color: $white;
        border: 1px solid $white;
        border-radius: 2px;
        &:last-child {
          margin-right: 0;
        }
        &::before {
          position: absolute;
          left: 4px;
          display: block;
          content: '#';
        }
      }
    }
  }
}
h1{
  @include fontSize(60px, 700);
}
h2{
  @include fontSize(48px, 700);
}
h3{
  @include fontSize(36px, 700);
}
h4{
  margin-bottom: 10px;

  @include fontSize (24px, 500);
}