extends product/templates/layout
  
block content
  .app-body.app-common
    video.bg-noise(src="./video/bg-noise.mp4", type="viedeo/mp4" muted, autoplay, loop)
    
    section.content1
    section.content2

