html(lang="ko")
  include ../includes/head
  body
    include ../includes/header
    //- include ../partials/aside
    block content
            
    //- include ../partials/footer

    script(src="js/main.js")
    script(src="js/main.min.js")
    script(src="js/slide.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
